# Created by https://www.toptal.com/developers/gitignore/api/openfoam
# Edit at https://www.toptal.com/developers/gitignore?templates=openfoam
 
### OpenFOAM ###
# Timestep directories
**/0.*
**/0/*
**/[1-9]*
 
# Fields that must get ignored
**/*/phi*
**/*/meshPhi*
 
# Decomposed domain
**/processor*
 
# logfiles
**/log.*
**/*log
 
# paraview/ParaFoam
**/*.foam
**/*.OpenFOAM
**/*.pvsm
 
# mesh data that is no dictionary
**/constant/polyMesh/points*
**/constant/polyMesh/faces*
**/constant/polyMesh/owner*
**/constant/polyMesh/neighbour*
**/constant/polyMesh/boundary*
**/constant/polyMesh/sets
**/constant/polyMesh/*
**/Fig2_3D_Validation/*
 
# Zones and levels
**/*Level*
**/*Zone*
 
# snappyHexMesh files that are not snappyHexMeshDict
**/constant/polyMesh/refinementHistory*
**/constant/polyMesh/surfaceIndex*
**/constant/triSurface
 
# function object and post-processing data
**/forces
**/postProcessing
 
# Needed when C++ code is built using the OpenFOAM library, since it does not
# use a "normal" build tool (make, cmake, ..).
**/lnInclude
**/*.dep
**/linux*
**/Darwin*
 
#exclude important folders and files:
!**/0.orig/*
!**/constant/thermophysicalProperties
!**/constant/turbulenceProperties
!**/system/
!**/.gitignore
 
# End of https://www.toptal.com/developers/gitignore/api/openfoam
 
# Ignore corrugatedTube Python script files
**/corrugatedTube/__pycache__/*
__pycache__/*
**.pyc
**/corrugatedTube/blockMeshDict
blockMeshDict

# Ignore all files in the diederichsen-and-hatton directory, except for the Allplot files and the data.csv files
**/diederichsen-and-hatton/**/*
!**/diederichsen-and-hatton/**/
!**/diederichsen-and-hatton/**/initialise
!**/diederichsen-and-hatton/**/overview
!**/diederichsen-and-hatton/**/ref*.csv
!**/diederichsen-and-hatton/template/**
 
**/fcn-krxn/**/*
!**/fcn-krxn/**/
!**/fcn-krxn/**/overview
!**/fcn-krxn/**/All*
!**/fcn-krxn/**/0.orig/**
!**/fcn-krxn/**/constant/*Properties
!**/fcn-krxn/**/system/**
 
# Ignore all optimization result files
/optimization_results/**/*
 
**/linux64*
**/lnInclude
 